</div>
<script href="js/bootstrap.min.js">
  function displayMenu(event) {
    if (document.getElementById("navbar-list").classList.contains("show")) {
      document.getElementById("navbar-list").classList.remove("show")
    }
    else {
      document.getElementById("navbar-list").classList.add("show")
    }
  }
</script>
</body>
</html>