<!doctype html>
<html lang="fr">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css"/>

  <title>Cegefos Dashboard</title>
  <link rel="icon" type="image/png" href="favicon.ico">
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="/">
        <strong>CEGEFOS</strong>
      </a>
    
      <!-- Toggle button -->
      <button 
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-list"
        aria-controls="navbarNav"
        aria-expanded="true"
        aria-label="Toggle navigation"
        onclick="displayMenu(event)"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbar-list">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
          </li>
          <% if(typeof session.username !== "undefined") { %>
          <li class="nav-item">
            <a class="nav-link" href="/calculIMC">Calcul IMC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/convertirDevises">Convertir Devises</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts">Les Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/nouveauPost">Nouveau Post</a>
          </li>
          <% } %>
        </ul>
        <!-- Left links -->
      
        <div class="d-flex align-items-center">
          <% if(typeof session.username !== "undefined") { %>
            <a type="button" class="btn btn-danger px-3 me-2" href="/logout">
              Logout
            </a>
          <% } else { %>
            <a type="button" class="btn btn-link px-3 me-2" href="/login">
              Login
            </a>
            <a type="button" class="btn btn-primary me-3" href="/inscription">
              Inscription
            </a>
          <% } %>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

  <!-- Alert -->
  <% if(typeof alert !== "undefined") { %>
    <div class="alert alert-<%= alert.status %>" role="alert">
      <%= alert.message %>
    </div>
  <% } %>

  <div class="container">